<%= turbo_frame_tag "comments_post_#{@post.id}" do %>

  <div class="space-y-2 mb-4">

    <% @comments.each do |comment| %>

      <%= render "comments/comment", comment: comment, post: @post %>

    <% end %>

  </div>

  <% if @post.comments.count > @limit %>

    <div class="text-center mb-4">

      <%= link_to "Load More Comments",
      comments_post_path(@post, limit: @limit + 10),
      data: {
        turbo_frame: "comments_post_#{@post.id}",
      },
      class:
        "
                                    text-blue-600 hover:text-blue-700
                                    font-medium
                                  " %>

    </div>

  <% end %>

<% end %>
